:root {
  --bg-dark: #373e47;
  --bg-light: #ebe2e2; 
  --txt-dark: #000;
  --txt-white: #ffffff;
  --li-blue: #61DAFB;
}

main {
  min-height: 90vh;
  background-color: var(--bg-light);
  padding: 57px 27px;
  color: var(--txt-dark);
  background-image: url(./../../assets/logo.svg);
  background-repeat: no-repeat;
  background-position: right 95%;
}

main.dark {
  background-image: url(./../../assets/logo.svg); 
  background-color: var(--bg-dark);
  color: var(--txt-white);    
}

@media screen and (max-width: 560px) {
  main {
    background-position: right 115%;
  }
}

.main-title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main-facts {
  margin-top: 46px;
  max-width: 400px;
}

.main-facts > li {
  line-height: 22px;
  padding-block: 10px;
}

.main-facts > li::marker {
  font-size: 1.4rem;
  color: var( --li-blue);
}